# See https://EditorConfig.org for more information about the format of this file

# This is the top-most .editorconfig file, so don't look
# for additional .editorconfig files in parent directories
root = true

# All file types
[*]

# Indent with spaces rather than tabs
indent_style = space

# Use two spaces for indentation
indent_size = 2
tab_width = 2

# Trim whitespace at the ends of lines
trim_trailing_whitespace = true

# Insert a newline at the end of each file
insert_final_newline = true

# Copyright header template
file_header_template = Copyright 2022-${CurrentDate.Year} Niantic.\n

# Shell scripts
[*.sh]
end_of_line = lf
[*.{cmd,bat}]
end_of_line = crlf
